<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="public/stylesgp.css">
    <title>Garra placa</title>
</head>
<body>
    <!-- <h1>Main</h1> -->
    <%- include('headeradmin') %> 

    <div>
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="/managadmin">Inventario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="/managadminpedidos">Pedidos</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <div class="card-body">
          <h1>Detalle Pedidos</h1>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Nombre Cliente</th>
          <th scope="col">Rut</th>
          <th scope="col">Telefono</th>
          <th scope="col">Email</th>
          <th scope="col">Direccion</th>
          <th scope="col">Foto mascota</th>
          <th scope="col">Foto transferencia</th>
        </tr>
      </thead>
      <tbody>

        <% 

        var fecha;
          const formatDate = (date)=>{
          let formatted_date = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear()
          return formatted_date;
        }
        for(let i=0; i < clientes.length; i++) { 

          fecha = clientes[i].FECHA;
          if(fecha != null){
          %>
          <tr>
            <td><%=formatDate(fecha)%></td>
            <% }else{ %>
              <td>Error Fecha</td>
              <% } %>
            <td><%= clientes[i].NOMBRE%></td>
            <td><%= clientes[i].RUT%></td>
            <td><%= clientes[i].TELEFONO%></td>
            <td><%= clientes[i].MAIL%></td>
            <td><%= clientes[i].nombre_comuna%>,<%= clientes[i].CALLE%>,<%= clientes[i].NUMERO%></td>
            <td> <a href="uploads/<%= clientes[i].ftreferencial%>" target="_blank">Ver Mascota</a></td>
          <td><a href="uploads/<%= clientes[i].ftcomprobante%>" target="_blank">Ver transferencia</a></td>
          </tr>

          <% } %>

      </tbody>
    </table>


    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <%- include('footer') %> 
</body>
</html>